---
layout: default
title: gallery
columns: 3
---

<div class="container">
    {% if site.art_images  %}
        <div class="row">
            <div class="col">
                <h1>Art Gallery</h1>
            </div>
        </div>
        {% assign images = site.art_images %}
        {% assign total = images | size %}
        {% assign columns = page.columns %}
        {% assign rows = total | divided_by: columns %}
        {% assign leftovers = total | modulo: columns %}
        {% if leftovers > 0 %}
            {% assign rows = rows | plus: 1 %}
        {% endif %}
        {% assign n = 0 %}
        {% for i in (1..rows) %}
            <div class="row mr-1 my-5">
                {% for j in (1..columns) %}
                    <div class="col-{{ columns | plus: 1 }}">
                        <a href="{{ images[n].url }}"><picture>
                            <source media="(min-width: 3840px)" srcset="{{ images[n].thumbs.w2160_PNG }}">
                            <source media="(min-width: 3840px)" srcset="{{ images[n].thumbs.w2160_JPG }}">
                            <source media="(min-width: 2560px)" srcset="{{ images[n].thumbs.w1440_PNG }}">
                            <source media="(min-width: 2560px)" srcset="{{ images[n].thumbs.w1440_JPG }}">
                            <source media="(min-width: 1920px)" srcset="{{ images[n].thumbs.w1280_PNG }}">
                            <source media="(min-width: 1920px)" srcset="{{ images[n].thumbs.w1280_JPG }}">
                            <source media="(min-width: 1024px)" srcset="{{ images[n].thumbs.w1024_PNG }}">
                            <source media="(min-width: 1024px)" srcset="{{ images[n].thumbs.w1024_JPG }}">
                            <source media="(min-width: 768px)" srcset="{{ images[n].thumbs.w768_PNG }}">
                            <source media="(min-width: 768px)" srcset="{{ images[n].thumbs.w768_JPG }}">
                            <source media="(min-width: 600px)" srcset="{{ images[n].thumbs.w600_PNG }}">
                            <source media="(min-width: 600px)" srcset="{{ images[n].thumbs.w600_JPG }}">
                            <source media="(min-width: 411px)" srcset="{{ images[n].thumbs.w411_PNG }}">
                            <source media="(min-width: 411px)" srcset="{{ images[n].thumbs.w411_JPG }}">
                            <source media="(min-width: 360px)" srcset="{{ images[n].thumbs.w360_PNG }}">
                            <source media="(min-width: 360px)" srcset="{{ images[n].thumbs.w360_JPG }}">
                            <source media="(min-width: 240px)" srcset="{{ images[n].thumbs.w240_PNG }}">
                            <img src="{{ images[n].thumbs.w240_JPG }}" alt="{{ images[n].alt }}" title="{{ images[n].title }}">
                        </picture></a>
                    </div>
                    {% assign n = n | plus: 1 %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</div>
