---
layout: regular
title: home
---

<h1>Welcome!</h1>
<p>
    This is <a href="{{ site.baseurl }}{% link about.md %}" title="Who am I?">my personal</a> blog and website.
    <br>
    Feel free to browse around, check my <a href="{{ site.baseurl }}{% link blog.html %}" title="My blog">blog posts</a>, <a href="{{ site.baseurl }}{% link projects.html %}" title="My Projects">projects</a> and <a href="{{ site.baseurl }}{% link gallery.html %}" title="My Gallery">gallery</a>.
</p>

<h1>Newest Post in Blog</h1>

<ul>
    {% for post in site.posts limit: 1 %}
        <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {{ post.excerpt | strip_html | truncatewords: 100 }}
        </li>
    {% endfor %}
</ul>

<h1>New in Gallery</h1>

{% assign images = site.art_images | sort: "date" | reverse | slice: 0, 3 %}
<div class="row mr-1 my-5">
    {% for image in images %}
        <div class="col-4">
            <a href="{{ image.url }}"><picture>
                {% if image.thumbs.w1920_GIF %}
                    <source media="(min-width: 1920px)" srcset="{{ image.thumbs.w1920_GIF }}">
                {% endif %}
                <source media="(min-width: 1920px)" srcset="{{ image.thumbs.w1920_PNG }}">
                <source media="(min-width: 1920px)" srcset="{{ image.thumbs.w1920_JPG }}">
                {% if image.thumbs.w1024_GIF %}
                    <source media="(min-width: 1024px)" srcset="{{ image.thumbs.w1024_GIF }}">
                {% endif %}
                <source media="(min-width: 1024px)" srcset="{{ image.thumbs.w1024_PNG }}">
                <source media="(min-width: 1024px)" srcset="{{ image.thumbs.w1024_JPG }}">
                {% if image.thumbs.w768_GIF %}
                    <source media="(min-width: 768px)" srcset="{{ image.thumbs.w768_GIF }}">
                {% endif %}
                <source media="(min-width: 768px)" srcset="{{ images.thumbs.w768_PNG }}">
                <source media="(min-width: 768px)" srcset="{{ images.thumbs.w768_JPG }}">
                {% if image.thumbs.w600_GIF %}
                    <source media="(min-width: 600px)" srcset="{{ image.thumbs.w600_GIF }}">
                {% endif %}
                <source media="(min-width: 600px)" srcset="{{ image.thumbs.w600_PNG }}">
                <source media="(min-width: 600px)" srcset="{{ image.thumbs.w600_JPG }}">
                {% if image.thumbs.w411_GIF %}
                    <source media="(min-width: 411px)" srcset="{{ image.thumbs.w411_GIF }}">
                {% endif %}
                <source media="(min-width: 411px)" srcset="{{ image.thumbs.w411_PNG }}">
                <source media="(min-width: 411px)" srcset="{{ image.thumbs.w411_JPG }}">
                {% if image.thumbs.w360_GIF %}
                    <source media="(min-width: 360px)" srcset="{{ image.thumbs.w360_GIF }}">
                {% endif %}
                <source media="(min-width: 360px)" srcset="{{ image.thumbs.w360_PNG }}">
                <source media="(min-width: 360px)" srcset="{{ image.thumbs.w360_JPG }}">
                {% if image.thumbs.w240_GIF %}
                    <source media="(min-width: 240px)" srcset="{{ image.thumbs.w240_GIF }}">
                {% endif %}
                <source media="(min-width: 240px)" srcset="{{ image.thumbs.w240_PNG }}">
                <img src="{{ image.thumbs.w240_JPG }}" alt="{{ image.alt }}" title="{{ image.title }}">
            </picture></a>
        </div>
    {% endfor %}
</div>
