---
layout: regular
title: Welcome to gonvalhector.com
image: https://lh3.googleusercontent.com/pw/ACtC-3eEHFuf4_hvZWt-VaMxVCYvDxxQN52L_TrlpzasrylHwBL007z1SQVrgadgHfLXM5S6hghhMdadfocC8aLXYLGfeyFXjwpmXd0U2aLy_gEmahpvsSBssc7ddHqvC1zwI4IPL8eDcMA7npDej2MAAlEm=w1200-h630-no?authuser=0
js:
    - src: /assets/js/imgHover.js
---

<h1>Welcome!</h1>
<p>
    This is the online portfolio, blog and website of <a href="{{ site.baseurl }}{% link about.html %}" title="Who am I?">Hector Gonzalez</a>.
    <br>
    Feel free to browse around, check my <a href="{{ site.baseurl }}{% link blog.html %}" title="My blog">blog posts</a>, <a href="{{ site.baseurl }}{% link projects.html %}" title="My Projects">projects</a> and <a href="{{ site.baseurl }}{% link gallery.html %}" title="My Gallery">gallery</a>.
</p>

<div class="list-group mb-3" id="quick_links">
    <h2><img src="assets/images/icons/url.svg" class="static-icon" alt="chain link icon"> Quick Links</h2>
        {% for item in site.data.quick_links %}
            <a {% if item.in-page %}href="#{{ item.url }}"{% else %}href="{{ item.url }}"{% endif %} class="list-group-item list-group-item-action quick_link text-center my-2">{{ item.label }}{% unless item.in-page %} <img src="assets/images/icons/external.svg" class="external-icon" alt="External Link">{% endunless %}</a>
        {% endfor %}
</div>

<div class="mb-3" id="new_post">
    <h2><img src="assets/images/icons/new.svg" class="static-icon" alt="stars icon"> Newest Post in Blog</h2>
    <ul>
        {% for post in site.posts limit: 1 %}
            <li>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                {{ post.excerpt | strip_html | truncatewords: 50 }}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="mb-3" id="new_projects">
    <h2><img src="assets/images/icons/new.svg" class="static-icon" alt="stars icon"> New Projects</h2>
    {% assign projects = site.projects | sort: "date" | reverse | slice: 0, 3 %}
    <div class="row mr-1 my-3">
        {% for project in projects %}
            <div class="col-4">
                <a href="{{ project.url }}"><picture>
                    {% if project.thumbs.GIF %}
                        <source media="(min-width: 1920px)" srcset="{{ project.thumbs.GIF }}=w355">
                    {% endif %}
                    <source media="(min-width: 1920px)" srcset="{{ project.thumbs.PNG }}=w355">
                    <source media="(min-width: 1920px)" srcset="{{ project.thumbs.JPG }}=w355">
                    {% if project.thumbs.GIF %}
                        <source media="(min-width: 1024px)" srcset="{{ project.thumbs.GIF }}=w284">
                    {% endif %}
                    <source media="(min-width: 1024px)" srcset="{{ project.thumbs.PNG }}=w284">
                    <source media="(min-width: 1024px)" srcset="{{ project.thumbs.JPG }}=w284">
                    {% if project.thumbs.GIF %}
                        <source media="(min-width: 768px)" srcset="{{ project.thumbs.GIF }}=w213">
                    {% endif %}
                    <source media="(min-width: 768px)" srcset="{{ projects.thumbs.PNG }}=w213">
                    <source media="(min-width: 768px)" srcset="{{ projects.thumbs.JPG }}=w213">
                    {% if project.thumbs.GIF %}
                        <source media="(min-width: 600px)" srcset="{{ project.thumbs.GIF }}=w166">
                    {% endif %}
                    <source media="(min-width: 600px)" srcset="{{ project.thumbs.PNG }}=w166">
                    <source media="(min-width: 600px)" srcset="{{ project.thumbs.JPG }}=w166">
                    {% if project.thumbs.GIF %}
                        <source media="(min-width: 411px)" srcset="{{ project.thumbs.GIF }}=w114">
                    {% endif %}
                    <source media="(min-width: 411px)" srcset="{{ project.thumbs.PNG }}=w114">
                    <source media="(min-width: 411px)" srcset="{{ project.thumbs.JPG }}=w114">
                    {% if project.thumbs.GIF %}
                        <source media="(min-width: 360px)" srcset="{{ project.thumbs.GIF }}=w100">
                    {% endif %}
                    <source media="(min-width: 360px)" srcset="{{ project.thumbs.PNG }}=w100">
                    <source media="(min-width: 360px)" srcset="{{ project.thumbs.JPG }}=w100">
                    {% if project.thumbs.GIF %}
                        <source media="(min-width: 240px)" srcset="{{ project.thumbs.GIF }}=w66">
                    {% endif %}
                    <source media="(min-width: 240px)" srcset="{{ project.thumbs.PNG }}=w66">
                    <img src="{{ project.thumbs.JPG }}=w66" alt="{{ project.alt }}" title="{{ project.title }}" class="rounded-lg mx-auto d-block transform-in">
                </picture></a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="mb-3" id="new_images">
    <h2><img src="assets/images/icons/new.svg" class="static-icon" alt="stars icon"> New in Gallery</h2>
    {% assign images = site.gallery | sort: "date" | reverse | slice: 0, 3 %}
    <div class="row mr-1 my-3">
        {% for image in images %}
            <div class="col-4">
                <a href="{{ image.url }}"><picture>
                    {% if image.thumbs.GIF %}
                        <source media="(min-width: 1920px)" srcset="{{ image.thumbs.GIF }}=w355">
                    {% endif %}
                    <source media="(min-width: 1920px)" srcset="{{ image.thumbs.PNG }}=w355">
                    <source media="(min-width: 1920px)" srcset="{{ image.thumbs.JPG }}=w355">
                    {% if image.thumbs.GIF %}
                        <source media="(min-width: 1024px)" srcset="{{ image.thumbs.GIF }}=w284">
                    {% endif %}
                    <source media="(min-width: 1024px)" srcset="{{ image.thumbs.PNG }}=w284">
                    <source media="(min-width: 1024px)" srcset="{{ image.thumbs.PG }}=w284">
                    {% if image.thumbs.GIF %}
                        <source media="(min-width: 768px)" srcset="{{ image.thumbs.GIF }}=w213">
                    {% endif %}
                    <source media="(min-width: 768px)" srcset="{{ images.thumbs.PNG }}=w213">
                    <source media="(min-width: 768px)" srcset="{{ images.thumbs.JPG }}=w213">
                    {% if image.thumbs.GIF %}
                        <source media="(min-width: 600px)" srcset="{{ image.thumbs.GIF }}=w166">
                    {% endif %}
                    <source media="(min-width: 600px)" srcset="{{ image.thumbs.PNG }}=w166">
                    <source media="(min-width: 600px)" srcset="{{ image.thumbs.JPG }}=w166">
                    {% if image.thumbs.GIF %}
                        <source media="(min-width: 411px)" srcset="{{ image.thumbs.GIF }}=w114">
                    {% endif %}
                    <source media="(min-width: 411px)" srcset="{{ image.thumbs.PNG }}=w114">
                    <source media="(min-width: 411px)" srcset="{{ image.thumbs.PG }}=w114">
                    {% if image.thumbs.GIF %}
                        <source media="(min-width: 360px)" srcset="{{ image.thumbs.GIF }}=w100">
                    {% endif %}
                    <source media="(min-width: 360px)" srcset="{{ image.thumbs.PNG }}=w100">
                    <source media="(min-width: 360px)" srcset="{{ image.thumbs.JPG }}=w100">
                    {% if image.thumbs.GIF %}
                        <source media="(min-width: 240px)" srcset="{{ image.thumbs.GIF }}=w66">
                    {% endif %}
                    <source media="(min-width: 240px)" srcset="{{ image.thumbs.PNG }}=w66">
                    <img src="{{ image.thumbs.JPG }}=w66" alt="{{ image.alt }}" title="{{ image.title }}" class="rounded-circle mx-auto d-block transform-in">
                </picture></a>
            </div>
        {% endfor %}
    </div>
</div>
