<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">
        <img src="/assets/images/logo.png" class="img-fluid rounded" alt="logo" id="logo">
        gonvalhector
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            {% for item in site.data.navigation %}
                <a class="nav-item nav-link{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}"><img src="{{ item.icon }}" class="nav-icon" alt="{{ item.name }} icon"> {{ item.name }}<span class="sr-only">(current)</span></a>
            {% endfor %}
        </div>
    </div>
</nav>
