<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">
        <img src="static/images/decoration/logo.png" class="img-fluid rounded" alt="Logo" id="logo">
        gonvalhector
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" id="active" href="#"><img src="static/images/decoration/icons/iconmonstr-door-3.svg" class="mr-1 filter-text3" alt="lounge icon">home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#"><img src="static/images/decoration/icons/iconmonstr-construction-8.svg" class="mr-1 filter-text1" alt="projects icon">projects</a>
            <a class="nav-item nav-link" href="#"><img src="static/images/decoration/icons/iconmonstr-paintbrush-8.svg" class="mr-1 filter-text1" alt="hobbies icon">hobbies</a>
            <a class="nav-item nav-link" href="#"><img src="static/images/decoration/icons/iconmonstr-picture-17.svg" class="mr-1 filter-text1" alt="gallery icon">gallery</a>
        </div>
    </div>
</nav>
