// Background Colors
// Rich Black
$bgd1: #141019;
// Xiketic
$bgd2: #2F243A;
// Cultured
$bgd3: #F4F3F6;
// Code
$bgd4: #0f0c13;

// Text Color
// Cultured (Regular text)
$txt1: #F4F3F6;
// Cultured (Link hover)
$txt2: #F4F3F6;
// Manatee (Link)
$txt3: #9A97A1;
// Code
$txt4: #FEC369;

// Drop Shadow
// Rich Black
$shadow: #0A080C;

// SoundCloudPlayer Colors
// Regular
$sc1: #FE4521;
// Hover
$sc2: #FF8222;

// Filter
$fltrtxt1: invert(91%) sepia(4%) saturate(99%) hue-rotate(219deg) brightness(107%) contrast(95%);
$fltrtxt2: invert(91%) sepia(11%) saturate(100%) hue-rotate(207deg) brightness(106%) contrast(93%);
$fltrtxt3: invert(63%) sepia(3%) saturate(696%) hue-rotate(217deg) brightness(97%) contrast(89%);
$fltrbgd1: invert(63%) sepia(3%) saturate(696%) hue-rotate(217deg) brightness(97%) contrast(89%);
$fltrbgd2: invert(13%) sepia(14%) saturate(1527%) hue-rotate(227deg) brightness(94%) contrast(92%);
$fltrsc1: invert(31%) sepia(59%) saturate(2406%) hue-rotate(348deg) brightness(102%) contrast(99%);
$fltrsc2: invert(57%) sepia(90%) saturate(1910%) hue-rotate(344deg) brightness(102%) contrast(101%);


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 56.77px;
    background-color: $bgd1;
    color: $txt1;
    header {
        background-color: $bgd2;
        box-shadow: 0px 2px 2px 0.5px $shadow;
        nav {
            .navbar-brand {
                color: $txt2;
                font-family: "varela";
                font-size: 3.5vh;
                text-shadow: 1.5px 1.5px 1.5px $shadow;
                #logo {
                    border: 3px solid $bgd3 !important;
                    box-shadow: 1.5px 1.5px 1.5px $shadow;
                    @media (min-width: 240px) {
                        height: 8vw;
                    }
                    @media (min-width: 600px) {
                        height: 6vw;
                    }
                    @media (min-width: 1920px) {
                        height: 4vw;
                    }
                }
            }
            .navbar-brand:hover {
                color: $txt2;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 243, 246, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
            .navbar-nav {
                .nav-item {
                    font-family: "Raleway", sans-serif;
                }
                .nav-item:not(.active) {
                    animation: txtColorChangeOut 0.75s;
                    color: $txt3;
                    .nav-icon {
                        animation: iconColorChangeOut 0.75s;
                        filter: $fltrtxt3;
                    }
                }
                .nav-item:hover:not(.active) {
                    animation: txtColorChangeIn 0.5s;
                    .nav-icon {
                        animation: iconColorChangeIn 0.5s;
                    }
                }
                .nav-item:hover, .active {
                    color: $txt2;
                    text-shadow: 1px 1px 1px $shadow;

                    .nav-icon {
                        filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);
                    }
                }
            }
        }

    }
    main {
        font-family: "Noto Sans JP", sans-serif;
        flex: 1;
        margin-top: 10px;
        h1, h2 {
            font-family: "Raleway", sans-serif;
            color: $bgd3;
            text-shadow: 2px 2px 2px $shadow;
        }
        a:not(.list-group-item, .soundcloud-title) {
            color: $txt3;
            animation: txtColorChangeOut 0.75s;
        }
        a:hover:not(.list-group-item, .soundcloud-title) {
            color: $txt2;
            text-decoration: none;
            animation: txtColorChangeIn 0.5s;
        }
        .avatar {
            width: 3vh;
            height: auto;
        }
        @media (min-width: 1920px) {
            .carousel-inner .carousel-item img {
                height: 72vh;
                width: auto;
            }
        }
        .carousel-caption {
            color: $txt1;
            text-shadow: 1px 1px 1px $shadow;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            filter: $fltrbgd1 opacity(100%);
        }
        .carousel-indicators {
            li {
                filter: $fltrbgd1 opacity(100%);
            }
        }
        .static-icon {
            filter: $fltrtxt3;
        }
        .series-icon {
            filter: $fltrtxt3;
            animation: iconColorChangeOut 0.75s;
        }
        .series-icon:hover {
            filter: $fltrtxt2;
            animation: iconColorChangeIn 0.5s;
        }
        .transform-out {
            @media (min-width: 240px) {
                animation: imgTransformOut 0.75s;
                transform: scale(1);
            }
            @media (min-width: 1920px) {
                animation: bigImgTransformOut 0.75s;
                transform: scale(1);
            }
        }
        .transform-in:hover {
            @media (min-width: 240px) {
                animation: imgTransformIn 0.5s;
                transform: scale(1.1);
            }
            @media (min-width: 1920px) {
                animation: bigImgTransformIn 0.5s;
                transform: scale(1.04);
            }
        }
        .quick_link {
            border-width: 2px !important;
            font-weight: normal;
            background-color: $bgd1;
            border-color: $bgd3;
            color: $bgd3;
        }
        .quick_link:hover {
            background-color: $bgd3;
            color: $bgd1;
            font-weight: bold;
        }
        .Red {
            filter: invert(36%) sepia(99%) saturate(7422%) hue-rotate(354deg) brightness(111%) contrast(101%);
        }
        .Blue {
            filter: invert(16%) sepia(59%) saturate(4560%) hue-rotate(207deg) brightness(94%) contrast(101%);
        }
        .Green {
            filter: invert(15%) sepia(94%) saturate(3057%) hue-rotate(147deg) brightness(113%) contrast(101%);
        }
        .Yellow {
            filter: invert(71%) sepia(98%) saturate(278%) hue-rotate(356deg) brightness(105%) contrast(101%);
        }
        .Orange {
            filter: invert(54%) sepia(96%) saturate(340%) hue-rotate(336deg) brightness(101%) contrast(101%);
        }
        .Purple {
            filter: invert(31%) sepia(72%) saturate(1530%) hue-rotate(238deg) brightness(105%) contrast(103%);
        }
        .Cyan {
            filter: invert(68%) sepia(89%) saturate(310%) hue-rotate(139deg) brightness(106%) contrast(80%);
        }
        .White {
            filter: $fltrtxt2;
        }
        .language-plaintext {
            background-color: $bgd4;
        }
        code {
            color: $txt4;
        }
        .giphy-image {
            @media (min-width: 240px) {
                height: 60px;
            }
            @media (min-width: 360px) {
                height: 100px;
            }
            @media (min-width: 411px) {
                height: 114px;
            }
            @media (min-width: 600px) {
                height: 166px;
            }
            @media (min-width: 768px) {
                height: 213px;
            }
            @media (min-width: 1024px) {
                height: 284px;
            }
            @media (min-width: 1920px) {
                height: 355px;
            }
        }
        .input-group {
            .btn {
                background-color: $sc1;
                border-color: $sc1;
                img {
                    filter: $fltrbgd2;
                }
            }
            .btn:hover {
                background-color: $sc2;
                border-color: $sc2;
                img {
                    filter: $fltrtxt1;
                }
            }
        }
        #search-results {
            .card {
                background-color: $bgd3;
                .card-body {
                    .card-title {
                        a {
                            color: $bgd1;
                        }
                        a:hover {
                            color: $sc2;
                        }
                    }
                }
                .play-button {
                    width: 4vh;
                    filter: $fltrsc1;
                    margin-top: 1.25em;
                    margin-left: 5em;
                }
                .play-button:hover {
                    filter: $fltrsc2;
                }
            }
        }
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 20;
        .contact {
            background-color: $bgd2;
            box-shadow: 0px -2px 2px 0.5px $shadow;
        }
        .item-link {
            .item-icon {
                filter: $fltrtxt3;
                animation: iconColorChangeOut 0.75s;
            }
        }
        .item-link:hover {
            .item-icon {
                filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);
                animation: iconColorChangeIn 0.5s;
            }
        }
    }
}

@font-face {
    font-family: "varela";
    src: local("varela"), url("../fonts/varela/Varela-Regular.ttf") format("truetype");
}

@keyframes txtColorChangeIn {
    from {color: $txt3;}
    to {color: $txt2;}
}

@keyframes txtColorChangeOut {
    from {color: $txt2;}
    to {color: $txt3;}
}

@keyframes iconColorChangeIn {
    from {filter: $fltrtxt3;}
    to {filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);}
}

@keyframes iconColorChangeOut {
    from {filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);}
    to {filter: $fltrtxt3;}
}

@keyframes imgTransformIn {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@keyframes imgTransformOut {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}
@keyframes bigImgTransformIn {
    from {transform: scale(1);}
    to {transform: scale(1.04);}
}

@keyframes bigImgTransformOut {
    from {transform: scale(1.04);}
    to {transform: scale(1);}
}
