// Background Colors
// Rich Black
$bgd1: #141019;
// Xiketic
$bgd2: #2F243A;
// Cultured
$bgd3: #F4F3F6;

// Text Color
// Cultured (Regular text)
$txt1: #F4F3F6;
// Cultured (Link hover)
$txt2: #F4F3F6;
// Manatee (Link)
$txt3: #9A97A1;

// Drop Shadow
// Xiketic
$shadow: #0A080C;

// Filter
$fltrtxt2: invert(91%) sepia(11%) saturate(100%) hue-rotate(207deg) brightness(106%) contrast(93%);
$fltrtxt3: invert(63%) sepia(3%) saturate(696%) hue-rotate(217deg) brightness(97%) contrast(89%);
$fltrbgd1: invert(63%) sepia(3%) saturate(696%) hue-rotate(217deg) brightness(97%) contrast(89%);

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 56.77px;
    background-color: $bgd1;
    color: $txt1;
    header {
        background-color: $bgd2;
        box-shadow: 0px 2px 2px 0.5px $shadow;
        nav {
            .navbar-brand {
                color: $txt2;
                font-family: "varela";
                font-size: 3.5vh;
                text-shadow: 1.5px 1.5px 1.5px $shadow;
                #logo {
                    border: 2px solid $bgd3 !important;
                    box-shadow: 1.5px 1.5px 1.5px $shadow;
                }
            }
            .navbar-brand:hover {
                color: $txt2;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 243, 246, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
            .navbar-nav {
                .nav-item {
                    animation: txtColorChangeOut 0.75s;
                    font-family: "Raleway", sans-serif;
                    color: $txt3;
                    .nav-icon {
                        animation: iconColorChangeOut 0.75s;
                        filter: $fltrtxt3;
                    }
                }
                .nav-item:hover {
                    animation: txtColorChangeIn 0.5s;
                    .nav-icon {
                        animation: iconColorChangeIn 0.5s;
                    }
                }
                .nav-item:hover, .active {
                    color: $txt2;
                    text-shadow: 1px 1px 1px $shadow;

                    .nav-icon {
                        filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);
                    }
                }
            }
        }

    }
    main {
        font-family: "Noto Sans JP", sans-serif;
        flex: 1;
        margin-top: 10px;
        h1, h2 {
            font-family: "Raleway", sans-serif;
            color: $bgd3;
            text-shadow: 2px 2px 2px $shadow;
        }
        a {
            color: $txt3;
            animation: txtColorChangeOut 0.75s;
        }
        a:hover {
            color: $txt2;
            text-decoration: none;
            animation: txtColorChangeIn 0.5s;
        }
        .avatar {
            width: 3vh;
            height: auto;
        }
        @media (min-width: 1920px) {
            .carousel-inner .carousel-item img {
                height: 72vh;
                width: auto;
            }
        }
        .carousel-caption {
            color: $txt1;
            text-shadow: 1px 1px 1px $shadow;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            filter: $fltrbgd1 opacity(100%);
        }
        .carousel-indicators {
            li {
                filter: $fltrbgd1 opacity(100%);
            }
        }
        .static-icon {
            filter: $fltrtxt3;
        }
        .series-icon {
            filter: $fltrtxt3;
            animation: iconColorChangeOut 0.75s;
        }
        .series-icon:hover {
            filter: $fltrtxt2;
            animation: iconColorChangeIn 0.5s;
        }
        .transform-out {
            animation: imgTransformOut 0.75s;
            transform: scale(1);
        }
        .transform-in:hover {
            animation: imgTransformIn 0.5s;
            transform: scale(1.1);
        }
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 20;
        .contact {
            background-color: $bgd2;
            box-shadow: 0px -2px 2px 0.5px $shadow;
        }
        .item-link {
            .item-icon {
                filter: $fltrtxt3;
                animation: iconColorChangeOut 0.75s;
            }
        }
        .item-link:hover {
            .item-icon {
                filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);
                animation: iconColorChangeIn 0.5s;
            }
        }
    }
}

@font-face {
    font-family: "varela";
    src: local("varela"), url("../fonts/varela/Varela-Regular.ttf") format("truetype");
}

@keyframes txtColorChangeIn {
    from {color: $txt3;}
    to {color: $txt2;}
}

@keyframes txtColorChangeOut {
    from {color: $txt2;}
    to {color: $txt3;}
}

@keyframes iconColorChangeIn {
    from {filter: $fltrtxt3;}
    to {filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);}
}

@keyframes iconColorChangeOut {
    from {filter: $fltrtxt2 drop-shadow(1px 1px 1px $shadow);}
    to {filter: $fltrtxt3;}
}

@keyframes imgTransformIn {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@keyframes imgTransformOut {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}
