<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - gonvalhector</title>
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/assets/images/icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% feed_meta %}
        {% seo %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166905054-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-166905054-1');
        </script>
    </head>
    <body>
        <header class="sticky-top">
            {% include navigation.html %}
        </header>
        <main>
            <div id="top"></div>
            {{ content }}
            <div id="bottom"></div>
        </main>
        <footer class="pt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {% include return.html %}
                        <span><a href="#bottom" class="item-link"><img src="/assets/images/icons/bottom.svg" class="item-icon mx-2 float-right" alt="go to the bottom icon" title="Bottom"></a></span>
                        <span><a href="#top" class="item-link"><img src="/assets/images/icons/top.svg" class="item-icon mx-2 float-right" alt="go to the top icon" title="Top"></a></span>
                    </div>
                </div>
                <div class="row contact">
                    <div class="col">
                        {% include contact.html %}
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
